@{
    ViewData["Title"] = "Home Page test push test";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jenkins with Azure Release Pipeline test</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core with Jenkins</a>.</p>
</div>
